<div
  style='display: flex; flex-direction: column; align-items: center; width: 100%'
>
  <h1 style='font-size: 3rem;'>Hello {{firstName}} {{lastName}}!</h1>
  <p>Kindly enter
    <span style='font-weight: 600;'>{{token}}</span>
    as your One Time Password (OTP)</p>
  <p>Token valid for 10 minutes</p>
</div>