<div
  style='display: flex; flex-direction: column; align-items: center; width: 100%'
>
  <h1 style='font-size: 3rem;'>Hello {{firstName}}!</h1>
  <p>Your password has been reset successfully</p>
</div>